.red {
    background-color: red;
}

.green {

    background-color: greenyellow;
}

.darkRed {
  background-color: darkred;
}

.darkGreen {
  background-color: green;
}

.gridContainer {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    padding: 10px;
  }
  
  .gridItem {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .center {
    justify-content: center;
    text-align: center;
  }